<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{.Book.Title}} | InkHobby</title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

    <header>

       <nav class="main-nav">

    <a href="/" class="logo">
        InkHobby
    </a>

    <button
        class="menu-toggle"
        type="button"
        aria-label="Open menu"
        aria-expanded="false"
    >
        <span></span>
        <span></span>
    </button>

    <div class="nav-links">

        <a href="/">Home</a>
        <a href="/books">Books</a>
        <a href="/drafts">My Drafts</a>
        <a href="/jobs">Jobs</a>
        <a href="/community">Community</a>

    </div>

</nav>

    </header>


    <main class="books-page">

        <p class="back-to-books">
            <a href="/books">← Back to Books</a>
        </p>

        <p class="section-label">
            BOOK
        </p>


        <h1>
    {{.Book.Title}}
</h1>

<div class="book-description">

    <p class="section-label">
        SYNOPSIS
    </p>

    <p>
        {{.Book.Description}}
    </p>

</div>

<div class="books-intro">

    <p>
        Published chapters from this book.
    </p>

</div>

        <div class="book-actions">

    {{if .IsSaved}}

    <form action="/unsave-book" method="POST">

        <input
            type="hidden"
            name="book_id"
            value="{{.Book.ID}}"
        >

        <button type="submit" class="message-button">
            Unsave Book
        </button>

    </form>

{{else}}

    <form action="/save-book" method="POST">

        <input
            type="hidden"
            name="book_id"
            value="{{.Book.ID}}"
        >

        <button type="submit" class="message-button">
            Save Book
        </button>

    </form>

{{end}}
</div>


        {{range .Chapters}}

        <article class="chapter-card">

            <div>

                <p>
                    CHAPTER {{.ID}}
                </p>

                <h2>
                    {{.Title}}
                </h2>

            </div>

            <a href="/chapter?id={{.ID}}">
    Read Chapter <span class="arrow"></span>
</a>
        </article>

        {{else}}

        <p class="empty-message">
            This book doesn't have any published chapters yet.
        </p>

        {{end}}

    </main>

</body>

<script>
    const menuButton = document.querySelector(".menu-toggle");
    const mainNav = document.querySelector(".main-nav");

    menuButton.addEventListener("click", function () {
        const isOpen = mainNav.classList.toggle("menu-open");

        menuButton.setAttribute("aria-expanded", isOpen);
        menuButton.setAttribute(
            "aria-label",
            isOpen ? "Close menu" : "Open menu"
        );
    });
</script>
</html>
