<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Drafts | ReadyWriter</title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

    <header>

        <nav class="main-nav">

            <a href="/" class="logo">
                ReadyWriter
            </a>

            <div class="nav-links">

                <a href="/">Home</a>
                <a href="/books">Books</a>
                <a href="/write">Write</a>
                <a href="/jobs">Jobs</a>
                <a href="/community">Community</a>

            </div>

        </nav>

    </header>


    <main class="chapter-page">

        <p class="back-to-home">
            <a href="/dashboard">← Back to Dashboard</a>
        </p>

        <p class="section-label">
            YOUR WRITING SPACE
        </p>

        <h1>
            My <span>drafts.</span>
        </h1>

        <p class="write-intro">
            Continue working on your unfinished chapters whenever you're ready.
        </p>


        <section class="dashboard-section">

            {{range .}}

            <article class="chapter-card">

                <div>

                    <p>
                        DRAFT
                    </p>

                    <h2>
                        {{.Title}}
                    </h2>

                </div>


                <div class="chapter-action-links">

                    <a href="/edit?id={{.ID}}">
                        Continue Editing →
                    </a>

                   <form action="/publish-draft" method="POST">

                        <input
                            type="hidden"
                            name="id"
                            value="{{.ID}}"
                        >

                        
                        <button
                            type="submit"
                            name="action"
                            value="publish"
                        >
                            Publish →
                        </button>

                    </form>

                </div>

            </article>

            {{else}}

            <p class="empty-message">
                You don't have any drafts yet.
            </p>

            {{end}}

        </section>


    </main>

</body>

</html>